.env
#Buidler files
cache
artifacts
node_modules
dist/
build/
.vscode
.idea
/types

deployed-contracts.json
deployed-contracts-ganache.json
deployed-contracts-testnet.json

coverage
.coverage_artifacts
.coverage_cache
.coverage_contracts

